APP_NAME=gantangansultan
APP_ENV=local
APP_KEY=base64:R2qAXpCZCE7VCl6owJOO3+mv2h+yeCfbPjGXWDBGuEQ=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack

STAGE=dev

DB_CONNECTION=mysql
DB_PORT=3306
DB_DATABASE=gantanga_sicepat
DB_USERNAME=gantanga_sicepat
DB_PASSWORD=SICEPAT2021

TWILIO_WHATSAPP_NUMBER=081334958665
TWILIO_ACCOUNT_SID=ACc62a9b5353ec439ad6b20408cb1367f5
TWILIO_AUTH_TOKEN=b33ef41445fb2b3db0c793f025fdca9b

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

JWT_SECRET=3JuhsJxpxbfDkjhzqKToXlOpGpJ03w3LmxOw6xlRWo53NxpKKZraf2MGLCo9UAP7

AWS_DEFAULT_REGION=ap-southeast-1
AWS_ACCESS_KEY_ID=ASIA2QZ24G4P5Q7DT4XM
AWS_SECRET_ACCESS_KEY=b/blvNqpLvSri5+QXOZnIITcQ0CTHS+TxRi1xfmk

AWS_COGNITO_CLIENT_ID="6xxxxxxxxxxxxxxxxxxxxxxxxr"
AWS_COGNITO_CLIENT_SECRET="1xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx1"
AWS_COGNITO_USER_POOL_ID="ap-southeast-1_IGmyTcD6x"
AWS_COGNITO_REGION=ap-southeast-1
AWS_COGNITO_VERSION="latest"
